<div class="container">
  <div class="row">
    <div class="span6">
      <h4 class="heading">My Profile<span></span></h4>
      <div class="wrapper">
        <div class="testimonial">
          <div class="author">
            <img src="../../../../assets/flatten/img/dummies/testimonial-author1.png" class="img-circle bordered"
                 alt="">
            <p class="name">
              {{member.nom + " " + member.prenom}}
            </p>
            <br>
            <br>
            <div *ngIf="!verifEdit ; else elseBlock">
              <ul class="folio-detail">

                <li><label>cin :</label> {{member.cin}}</li>
                <li><label>Born :</label> {{member.dateNaissance}}</li>
                <li><label>cv :</label> {{member.cv}}</li>
                <li><label>email :</label><a href="#">{{member.email}}</a></li>
                <div *ngIf="member.type=='etudiant'">
                  <li><label>Sign Up Date :</label>{{member.dateInscription}}</li>
                  <li><label>Topic :</label>{{member.sujet}}</li>
                  <li><label>Diploma :</label>{{member.diplome}}</li>
                </div>
                <div *ngIf="member.type!='etudiant'">
                  <li><label>Grade :</label>{{member.grade}}</li>
                </div>
                <div>
                  <li><button type="button" class="btn btn-warning" (click)="edit()">Edit</button></li>
                </div>
              </ul>
            </div>
            <ng-template #elseBlock>
              <ul class="folio-detail">
                <li><label>First Name : </label><input type="text" [(ngModel)]="member.nom"></li>
                <li><label>Last Name : </label><input type="text" [(ngModel)]="member.prenom"></li>
                <li><label>cin : </label><input type="text" [(ngModel)]="member.cin"></li>
                <li><label>Born : </label><input type="date" [(ngModel)]="member.dateNaissance"></li>
                <li><label>cv : </label><input type="text" [(ngModel)]="member.cv"></li>
                <li><label>email : </label><input type="text" [(ngModel)]="member.email"></li>

                <div *ngIf="userInfo.type=='etudiant'">
                  <li><label>Sign Up Date : </label><input type="date" [(ngModel)]="member.dateInscription"></li>
                  <li><label>Topic : </label><input type="text" [(ngModel)]="member.sujet"></li>
                  <li><label>Diploma : </label><input type="text" [(ngModel)]="member.diplome"></li>
                </div>
                <div *ngIf="userInfo.type!='etudiant'">
                  <li><label>Grade : </label><input type="text" [(ngModel)]="member.grade"></li>
                </div>
                <li><label>New Password : </label><input type="password" [(ngModel)]="new_pass"></li>
                <li><label>re-type New Password : </label><input type="password" [(ngModel)]="re_pass"></li>
                <div>
                  <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
                  <button type="button" class="btn btn-danger" (click)="submit()">submit</button>
                </div>

              </ul>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

